/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* *********************************** */
/* Variables */
/* *********************************** */

:root {
  /* Colores */
  --color-white: #f3f3f3;
  --color-acentado: #9900ff;
  --color-green: #66ff00;
  --color-black: #222;
  --color-purple: #210036;
  --color-orange: #ec8e00;
  --color-shadow: #554e83;
  --color-red: #ff0000;

  /* Tipografía */
  --font-family: "system-ui", sans-serif;

  /* Tamaños */
  --ff-900: 3.052rem;
  --ff-800: 2.441rem;
  --ff-700: 1.953rem;
  --ff-600: 1.563rem;
  --ff-500: 1.25rem;
  --ff-400: 1rem;
  --ff-300: 0.8rem;
  --ff-200: 0.64rem;
  --ff-100: 0.512rem;
}

/* Clases útiles */
body {
  background-color: var(--color-black);
  font-family: var(--font-family);
  font-size: var(--ff-400);
}

@media (min-width: 40rem) {
  body {
    background-image: url("/assets/imagenes/body-background.svg");
    background-repeat: repeat-y;
    background-size: cover;
  }
}

:focus-visible {
  outline: 2px solid var(--color-green);
  outline-offset: 4px;
  border-radius: 4px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

p {
  line-height: 1.6;
}

html,
body,
#root,
.app-container {
  height: 100%;
}

.btn-green {
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-green);
  color: var(--color-black);
  cursor: pointer;
  text-align: center;
  transition: scale 0.2s ease-in-out;
}

.btn-green:hover {
  scale: 1.03;
}

.btn-green:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-orange {
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-orange);
  color: var(--color-black);
  cursor: pointer;
  text-align: center;
  transition: scale 0.2s ease-in-out;
  margin-top: 2rem;
}

.btn-red {
  background-color: var(--color-red);
  color: var(--color-white);
}

.btn-link {
  color: var(--color-green);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
  font-weight: 700;
}

.error-msj {
  color: var(--color-red);
  font-size: var(--ff-300);
  text-align: center;
  padding: 0.5rem;
}

.acerca-app {
  border-top: 1px solid var(--color-purple);
  line-height: 1.3;
  padding: 1rem;
  font-size: var(--ff-300);
  font-weight: 700;
}
/* ********************** */
/* Header componente      */
/* ********************** */

header {
  display: flex;
  justify-content: center;
  background-color: var(--color-acentado);
  color: var(--color-white);
}

.header-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 87rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--ff-500);
}

.header-menu {
  display: flex;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
  transition: scale(0.2s ease-in-out);
}

.menu-btn:hover {
  scale: 1.1;
}

.nav-lista {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1rem;
}

.nav-lista a:hover {
  color: var(--color-acentado);
}

@media (min-width: 40rem) {
  .header-container {
    padding: 1.5rem 2rem;
  }
  .header-logo {
    font-size: var(--ff-600);
  }
}

/* ********************** */
/* Drawer componente      */
/* ********************** */

@keyframes deslizar {
  from {
    transform: translateX(100%);
  }
}
@keyframes transparencia {
  from {
    opacity: 0;
  }
}

.drawer-container {
  position: fixed;
  inset: 0;
  padding: 16px;
  z-index: 1000;
}
.drawer-fondo {
  position: absolute;
  inset: 0;
  background: hsla(288, 100%, 30%, 0.75);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  animation: transparencia 850ms cubic-bezier(0.14, 0.78, 0.36, 1);
}
.drawer-contenido {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cerrar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--color-acentado);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
}

/* ***************************/
/* OfertasTrabajo componente */
/* ***************************/

.ofertas-trabajo-container {
  align-self: center;
  margin: 1.5rem 3vw 1rem;
  width: 90vw;
  max-width: 87rem;
}

.ofertas-trabajo-titulo-movil {
  font-weight: 800;
  font-size: var(--ff-800);
  color: var(--color-orange);
  text-align: right;
  text-shadow: 5px 5px 0px var(--color-shadow);
  line-height: 0.9;
}

.ofertas-trabajo-titulo-grande {
  font-weight: 900;
  font-size: var(--ff-900);
  color: var(--color-orange);
  text-align: right;
  text-shadow: 5px 5px 0px var(--color-shadow);
  line-height: 0.9;
}

/* Estilos para dispositivos móviles (hasta 767px) */
@media (max-width: 40rem) {
  .ofertas-trabajo-titulo-movil {
    display: block; /* Muestra el título "Ofertas" en dispositivos móviles */
  }
  .ofertas-trabajo-titulo-grande {
    display: none; /* Oculta el título "Ofertas de trabajo" en dispositivos móviles */
  }
}

/* Estilos para pantallas grandes (mayor a 768px, puedes ajustar este valor según tus necesidades) */
@media (min-width: 40rem) {
  .ofertas-trabajo-container {
    margin: 3rem 3vw 1rem;
  }

  .ofertas-trabajo-titulo-movil {
    display: none; /* Oculta el título "Ofertas" en pantallas grandes */
  }
  .ofertas-trabajo-titulo-grande {
    display: block; /* Muestra el título "Ofertas de trabajo" en pantallas grandes */
  }
}

.ofertas-trabajo-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-block: 3rem;
}
.container-querry {
  display: flex;
  flex-basis: 340px;
  flex-grow: 1;
  container-type: inline-size;
}

.ofertas-trabajo-tarjeta {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px var(--color-shadow);
}

@container (min-width: 40rem) {
  .ofertas-trabajo-tarjeta {
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 15vw;
  }
  .ofertas-trabajo-tarjeta-btn {
    margin-left: auto;
  }
}
.ofertas-trabajo-tarjeta :last-child {
  margin-top: auto;
}

.ofertas-trabajo-tarjeta-titulo {
  font-size: var(--ff-600);
  font-weight: 600;
  color: var(--color-orange);
}

.ofertas-trabajo-tarjeta-descripcion span {
  color: var(--color-green);
}

.ofertas-trabajo-tarjeta-salario span {
  color: var(--color-green);
}

/* Pasos */

.pasos-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 100%;
  border-radius: 0.4rem;
}

.pasos-izquierdo > :not(:last-child) {
  margin-bottom: 1rem;
}

.pasos-izquierdo h2 {
  font-size: var(--ff-500);
  font-weight: 700;
  color: var(--color-green);
}

.pasos-izquierdo h3 {
  font-size: var(--ff-700);
  font-weight: 700;
}

.paso-izquierdo-oferta-duplicada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-white);
  margin-top: 2rem;
}

.enlace-naranaja {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--color-orange);
  font-weight: 700;
  cursor: pointer;
}

.pasos-peque {
  font-size: var(--ff-300);
}

.pasos-peque a {
  color: var(--color-green);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
  font-weight: 700;
}

.pasos-derecho {
  background-image: url("/assets/imagenes/bckg-baras.svg");
  background-repeat: repeat-y;
  background-size: cover;
}

.pasos-derecho form {
  display: flex;
  flex-direction: column;
}

.pasos-derecho label {
  font-size: var(--ff-300);
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 0.4rem;
}

.label-span {
  color: var(--color-white);
  font-size: var(--ff-200);
  margin: 1rem;
}
.pasos-derecho input,
textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  margin-bottom: 1rem;
  width: 100%;
}

textarea {
  height: 6rem;
}

.pasos-izquierdo,
.pasos-derecho {
  padding: 7vw 5vw;
}

#marcado {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  border: 4px solid var(--color-purple);
  border-radius: 4px;
  display: grid;
  place-content: center;
}

#marcado::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1.2rem 1.2rem var(--color-acentado);
}

#marcado:checked::before {
  transform: scale(1);
}

.eres-resistente {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.eres-resistente input {
  margin: 0;
}

@media (min-width: 40rem) {
  .pasos-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .paso-izquierdo-oferta-duplicada {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    color: var(--color-white);
  }
}

/* Acordeon */

.acordeon-h4 {
  font-size: var(--ff-400);
  margin-bottom: 0.5rem;
  background-color: var(--color-shadow);
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.acordeon-h4 button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.acordeon-border {
  border-left: 3px solid var(--color-orange);
  padding-left: 0.5rem;
}

.acordeon-trigger[data-state="open"] svg {
  transform: rotate(180deg);
}

.acordeon-contenido p {
  font-size: var(--ff-300);
  margin-top: 0.5rem;
}

/* Paso cuatro */
.usuario-data-titulo {
  color: var(--color-green);
}

.usuario-data-value {
  font-size: var(--ff-600);
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn-trabajo-solicitado {
  border: 1px solid var(--color-green);
  padding: 0.5rem 1.2rem;
  border-radius: 0.2rem;
  margin: 1rem 1rem 1rem 0;
  background-color: var(--color-acentado);
  transition: scale 0.2s ease-in-out;
  font-size: var(--ff-300);
}

.btn-trabajo-solicitado:hover {
  scale: 1.03;
}

/* ***************************/
/* Footer componente         */
/* ***************************/

.footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.8em;
  background-color: var(--color-shadow);
  color: var(--color-white);
  padding: 1rem;
}
.footer a {
  cursor: pointer;
  color: var(--color-orange);
  text-decoration: underline;
}
